<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

  <appSettings>
    <!--______________REDIS SECTION _________________ -->
    <!-- ********dotdevutil01.dotdev.com ********* -->
    <add key="RedisServer" value="10.128.146.213"/>
    <add key="RedisDbNum" value="1"/>
    <add key="ExpirationDays" value="1"/>
    <!--______________END _________________ -->
  </appSettings>
</configuration>
